.container-content{
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 20px;
    height: 100vh;
    overflow: auto;
  }
  .content-cabecera{
    padding-bottom: 10px;
    height: 10%;
  }

  .form-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }