.container-content{
  display: flex;
  flex-direction: column;
  width: 85%; 
  padding: 20px; 
  height: 100vh; 
  overflow: auto;
}

.content-cabecera{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px; 
  height: 7%;
}

.cabecera-title{
  font-weight: bold;
}

 .content-body{
  width: 100%;
  height: 93%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.buscar{
  background-color: #e51d1d05;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgb(118, 118, 118);
  width: 500px;
  outline: none;
}

.lupa{
  background-color: var(--bs-cyan);
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.buscador{
  padding: 20px;
}

.tabla{
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.139);
  box-shadow: 7px 7px 7px rgb(51, 51, 51);
  width: 98%;
}

.col{
  padding: 10px;
  border-bottom: solid 1px;
}

.title{
  background-color: var(--bs-indigo);
}

.blanco{
  color: white;
}