@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
      
body{
  display: flex;
  flex-direction: row;
  font-family: 'Poppins', sans-serif; 
}
.container-nav{
  background-color: #3863a3;
  width: 15%;
  height: 100vh;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  padding: 30px;
}
.gg-atlasian{
  color: white;
  font-size: 20px;
}
.nav-logo{
  display: flex;
  padding: 10px;
  gap: 10px;
  color: white;
}
.container-ruters{
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
  padding-top: 20px;
}
.routes-content{
  color: white;
  gap: 10px;
  display: flex;
  align-items: center;
}
.fas{
  padding-right: 8px;
  color: #5683c7
}
.btn-routes{
  text-decoration: none;
  color: white;
}